body {
  background-color: grey

}

img {
  height: 200px;
  widht: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;;
}

h1.name {
  text-align: center;
  color: navy;

}
h1.pics {
text-align: center;
color: navy;

}

body {
border-bottom: 20px solid grey;

}
figcaption.tennis {
  text-align: center;
}

figcaption.facepic {
  text-align: center;
}

figcaption.sboard {
  text-align: center;
}
